.heading
{
    background-color: chartreuse;
    font-size: 35px;
    text-align:center;
}

.text
{
    text-align:center;
    margin-bottom:20px;
    margin-top:20px;
}
.button
{
    text-align: center;
}
.input-box
{
    height:30px;
    width:350px;
}

.clickable-button
{
    height:30px;
    width:100px;
}